#textdomain wesnoth-cc

# Aberrations. aberrations/unhatched tree, lvl1.
[unit_type]
    id="Unhatched"
    name=_ "Unhatched"
    race="aberration"

    hitpoints="36"
    movement="6"
    experience="43"
    level="1"
    cost="14"

    movement_type="eggfoot"
    alignment="chaotic"
    advances_to="Angry One,Rash One,Shredder Spawn"
    usage="fighter"

    description= _ "These hideous monsters came from the very first fear of Meloen: to mother a physically or mentally ill child. Not quite formed yet, the aberrations/unhatched partly breaks the shell with its powerful legs, then its naturally aggressive instinct guides it to complete its hatch by charging into foes."

    die_sound="skeleton-die-1.ogg"
    image="units/aberrations/unhatched.png"

    {DEFENSE_ANIM "units/aberrations/unhatched-defend-2.png" "units/aberrations/unhatched-defend-1.png" skeleton-hit-2.ogg }

    [movement_anim]
        [frame]
            begin=0
            end=150
            image="units/aberrations/unhatched-attack-1-2.png"
        [/frame]
    [/movement_anim]

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="5"
        number="3"
        [specials]
            {WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        hits=no
        [frame]
            begin=-250
            end=-210
            image="units/aberrations/unhatched-attack-1.png"
        [/frame]
        [frame]
            begin=-210
            end=-150
            image="units/aberrations/unhatched-attack-1-1.png"
        [/frame]
        [frame]
            begin=-150
            end=100
            image="units/aberrations/unhatched-attack-1-2.png"
            sound={SOUND_LIST:MISS}
        [/frame]
        [frame]
            begin=100
            end=175
            image="units/aberrations/unhatched-attack-1-1.png"
        [/frame]
        [frame]
            begin=175
            end=200
            image="units/aberrations/unhatched-attack-1.png"
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        hits=yes
        [frame]
            begin=-250
            end=-210
            image="units/aberrations/unhatched-attack-1.png"
        [/frame]
        [frame]
            begin=-210
            end=-150
            image="units/aberrations/unhatched-attack-1-1.png"
        [/frame]
        [frame]
            begin=-150
            end=100
            image="units/aberrations/unhatched-attack-1-2.png"
            sound=fist.ogg
        [/frame]
        [frame]
            begin=100
            end=150
            image="units/aberrations/unhatched-attack-1-1.png"
        [/frame]
        [frame]
            begin=150
            end=200
            image="units/aberrations/unhatched-attack-1.png"
        [/frame]
    [/attack_anim]
[/unit_type]


# Aberrations. Unhatched tree, lvl 2.
[unit_type]
    id="Angry One"
    name= _ "Angry One"
    race="aberration"

    hitpoints="50"
    movement="6"
    experience="62"
    level="2"
    cost="28"

    alignment="chaotic"
    advances_to="Raging One"
    usage="fighter"
    movement_type="eggfoot"

    description= _ "King Dowrein I, Memoirs of a mercenary:
'They were bad enough still in the shell. Once hatched, the especially aggressive ones attacked without pause, hurling themselves at us again and again, battling unto death.'"

    [abilities]
        {ABILITY_STEADFAST_CC}
    [/abilities]

    die_sound="hiss-die.wav"
    image="units/aberrations/angry-one.png"

    {DEFENSE_ANIM "units/aberrations/angry-one.png" "units/aberrations/angry-one.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION ram "units/aberrations/angry-one.png" fist.ogg miss-2.ogg }

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="11"
        number="3"
    [/attack]
[/unit_type]


# Aberrations. Unhatched tree, lvl 3.
[unit_type]
    id="Raging One"
    name= _ "Raging One"
    race="aberration"

    hitpoints="72"
    cost="44"
    movement="6"
    experience="150"
    level="3"

    alignment="chaotic"
    advances_to="null"
    movement_type="eggfoot"
    usage="fighter"

    description= _ "Excerpt from a conversation between Lieutenant Artingale and Sage Hogene:
'- Hogene, I often thank the Gods that the biggest Ragers are so very rare.
- Are they so much more dangerous than the other unnatural denizens of the forest, my Lord?
- Well, they kill you honestly, which is more than you can say for most. But the bloody smears they leave in their wake haunt my dreams.'"
    
    [abilities]
        {ABILITY_STEADFAST_CC}
    [/abilities]

    die_sound="hiss-die.wav"
    image="units/aberrations/raging-one.png"

    {DEFENSE_ANIM "units/aberrations/raging-one.png" "units/aberrations/raging-one.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION ram "units/aberrations/raging-one.png" fist.ogg miss-2.ogg }

    {AMLA_UNHATCHED}

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="15"
        number="3"
    [/attack]
[/unit_type]


# Aberrations. Unhatched tree, lvl 2.
[unit_type]
    id="Rash One"
    name= _ "Rash One"
    race="aberration"

    hitpoints="45"
    movement="6"
    experience="72"
    level="2"
    cost="30"

    alignment="chaotic"
    advances_to="Reckless One"
    movement_type="eggfoot"
    usage="fighter"

    description= _ "King Dowrein I, Memoirs of a mercenary:
'They're bad enough still in the shell. Once hatched, the particularly nasty-tempered ones could knock a man clean off the saddle in one blow. On more than one occasion the ugly brutes used their speed to get into our rear, where they did terrible damage to our injured soldiers.'"

    die_sound="yeti-die.ogg"
    image="units/aberrations/rash-one.png"

    {DEFENSE_ANIM "units/aberrations/rash-one.png" "units/aberrations/rash-one.png" yeti-hit.ogg }
    {ATTACK_MELEE_ANIMATION ram "units/aberrations/rash-one.png" fist.ogg miss-3.ogg }

    [abilities]
        {ABILITY_DAUNTLESS}
    [/abilities]

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="8"
        number="3"
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_KNOCKBACK 1}
        [/specials]
    [/attack]
[/unit_type]


# Aberrations. Unhatched tree, lvl 3.
[unit_type]
    id="Reckless One"
    name= _ "Reckless One"
    race="aberration"

    hitpoints="70"
    cost="50"
    movement="6"
    experience="150"
    level="3"

    alignment="chaotic"
    advances_to="null"
    movement_type="eggfoot"
    usage="fighter"

    description= _ "Dazed, Artingale staggered across the clearing, stepping over the shattered bones and dismembered limbs that littered the ground. The creature had burst suddenly from the undergrowth, giving his men no time to prepare a defense. In a matter of moments a third of the company had been mashed into paste, and the beast had raged off down the trail, evidently unconcerned with the terrible wounds it had taken in return."

    die_sound="yeti-die.ogg"
    image="units/aberrations/reckless-one.png"

    {DEFENSE_ANIM "units/aberrations/reckless-one.png" "units/aberrations/reckless-one.png" yeti-hit.ogg }
    {ATTACK_MELEE_ANIMATION ram "units/aberrations/reckless-one.png" fist.ogg miss-3.ogg }

    {AMLA_UNHATCHED}

    [abilities]
        {ABILITY_DAUNTLESS}
    [/abilities]

    [attack]
        name="ram"
        description= _ "ram"
        icon="attacks/ram-aberration.png"
        type="impact"
        range="melee"
        damage="11"
        number="3"
        [specials]
            {WEAPON_SPECIAL_CHARGE}
            {WEAPON_SPECIAL_KNOCKBACK 1}
        [/specials]
    [/attack]
[/unit_type]


# Aberrations. Shredder tree, lvl 2.
[unit_type]
    id="Shredder Spawn"
    name= _ "Shredder Spawn"
    race="aberration"

    hitpoints="42"
    movement="6"
    experience="70"
    level="2"
    cost="31"

    alignment="chaotic"
    advances_to="Ripper Beast"
    usage="fighter"
    movement_type="eggfoot"

    # FIXME: this is just copied from the "Angry One" description:
    description= _ "King Dowrein I, Memoirs of a mercenary:
'They were bad enough still in the shell. Once hatched, the especially aggressive ones attacked without pause, hurling themselves at us again and again, battling unto death.'"

    die_sound="hiss-die.wav"
    image="units/aberrations/shredder-spawn.png"

    {DEFENSE_ANIM "units/aberrations/shredder-spawn.png" "units/aberrations/shredder-spawn.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION fangs "units/aberrations/shredder-spawn.png" bite.ogg miss-2.ogg }

    [attack]
        name=fangs
        description= _"fangs"
        icon=attacks/fangs-animal.png
        type="blade"
        range="melee"
        damage="6"
        number="4"
        [specials]
            {WEAPON_SPECIAL_RAGE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]


# Aberrations. Shredder tree, lvl 3.
[unit_type]
    id="Ripper Beast"
    name= _ "Ripper Beast"
    race="aberration"

    hitpoints="62"
    movement="6"
    experience="150"
    level="3"
    advances_to=null
    {AMLA_UNHATCHED}
    cost="49"

    alignment="chaotic"
    usage="fighter"
    movement_type="eggfoot"

    # FIXME: this is just copied from the "Raging One" description:
    description= _ "Excerpt from a conversation between Lieutenant Artingale and Sage Hogene:
'- Hogene, I often thank the Gods that the biggest Ragers are so very rare.
- Are they so much more dangerous than the other unnatural denizens of the forest, my Lord?
- Well, they kill you honestly, which is more than you can say for most. But the bloody smears they leave in their wake haunt my dreams.'"

    die_sound="hiss-die.wav"
    image="units/aberrations/ripper-beast.png"

    {DEFENSE_ANIM "units/aberrations/ripper-beast.png" "units/aberrations/ripper-beast.png" hiss-hit.wav }
    {ATTACK_MELEE_ANIMATION fangs "units/aberrations/ripper-beast.png" bite.ogg miss-2.ogg }

    [attack]
        name=fangs
        description= _"fangs"
        icon=attacks/fangs-animal.png
        type="blade"
        range="melee"
        damage="9"
        number="4"
        [specials]
            {WEAPON_SPECIAL_RAGE}
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
[/unit_type]
